{{ $child_pages := union .node.Sections .node.Pages }}
{{ range $child_pages.ByTitle }}
  {{ if or (.Sections) (.Pages) }}
    <div x-data="{ open: {{ .IsAncestor $.CurrentSection }} }">
      <button @click="open = !open" class="w-full flex justify-between items-center py-3 pl-{{add 6 (mul $.level 2) }} pr-6 text-gray-600 cursor-pointer hover:bg-blue-100 hover:text-gray-700 focus:outline-none">
        <span class="flex text-left">
          <a href="{{ .Permalink }}">
            <span class="font-medium">{{ .Title }}</span>
          </a>
        </span>
        <span>
          <svg class="h-4 w-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path x-show="! open" d="M9 5L16 12L9 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="display: none;"></path>
              <path x-show="open" d="M19 9L12 16L5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </span>
      </button>
      <div x-show="open" class="text-gray-600">
        {{ partial "roll/browse/aside-recursive.html" ( dict "node" . "level" ( add $.level 1 ) ) }}
      </div>
    </div>
  {{ else }}
    <li class="block">
      <a href="{{ .Permalink }}" class="block w-full h-full py-2 pl-{{add 6 (mul $.level 2) }} pr-10 text-sm text-gray-900 dark:text-gray-100 hover:bg-blue-500 hover:text-gray-100">
        {{ .Title }}
      </a>
    </li>
  {{ end }}
{{ end }}
