<div class="bg-gray-200 font-sans rounded-lg sticky top-24 md:relative md:top-0">
  <div class="flex flex-col sm:flex-row sm:justify-around">
    <div class="w-full h-full bg-white pt-10 md:pt-5 pb-5 rounded-lg">
      <h1 class="text-xl md:text-lg px-5 pb-5">{{ i18n .node.Section }} 목록</h1>
      <nav>
        {{ with .root }}
        {{ range where .Sections.ByTitle "Type" $.node.Section }}
          {{ partial "roll/browse/aside-recursive.html" ( dict "node" . "level" ( add $.level 1 ) ) }}
        {{ end }}
        {{ end }}
      </nav>
    </div>
  </div>
</div>