public
node_modules
resources
.hugo_build.lock
hugo_stats.json

# data
drive
s3
nas

# bluge/
/bluge_index_dir/bluge_index_dir
/bluge_add_to_elf
/site_index.bluge
/functions/site-search

# Local Netlify folder
.netlify
