{{ define "header" }}
  {{ partial "basic/header-logo.html" . }}
{{ end }}

{{ define "main" }}
  <section class="w-full p-24">
    <h2 class="text-center text-4xl font-semibold mb-3">전체사진 보기</h2>
    <span class="block text-center text-gray-600 text-lg font-normal">2020년, 2021년 민주노총이 걸어온 길을 공개합니다. 결의에 찬 노동운동 현장을 살펴보세요.</span>
  </section>

  <div class="w-full h-full block bg-gray-200 dark:bg-gray-600 pt-10 pb-20">
    <!-- {{ partial "app/browse-breadcrumb.html" . }} -->
    <div class="px-10">
      <section class="">
        <div class="pb-3 border-b-2 border-gray-300">
          <span class="font-extrabold text-gray-500">{{ len ( .RegularPagesRecursive) }}</span>
          <span class="font-extrabold text-gray-500">장의 사진</span>
          <!-- <div class="float-right">
            <span class="font-extrabold text-gray-500">옵션명</span>
            <span class="font-extrabold text-gray-500">이름별</span>
          </div> -->
        </div>

        <div class="pb-3 border-b-2 border-gray-300">
          <!-- <div class="my-3">
            <button class="px-4 py-1 text-gray-600 font-medium">모두선택</button>
            |
            <button class="px-4 py-1 text-gray-600 font-medium">모두해제</button>
          </div> -->
          <div class="mb-2">
            {{ $itemsSection := .Site.GetPage "section" "items" }}
            <div class="mt-5 mb-3">
              {{ with .Site.GetPage "items"}}
                <a href="{{.Permalink}}" class="inline-block w-max px-2 py-1 hover:bg-white dark:bg-black border-2 border-gray-400 hover:border-blue-600 dark:border-blue-500 border box-border rounded-2xl text-sm text-gray-500 hover:text-blue-600 dark:text-blue-500 strong {{ if eq $.Path (lower .Title) }} bg-white text-blue-600 border-blue-600 font-semibold {{ end }}">전체</a>
              {{ end }}
              {{ range $itemsSection.Sections }}
                <span class="text-gray-500">|</span>
                {{ $currentURI := split $.Path "/" }}
                {{ $secondSectionBool := in $currentURI (lower .Title) }}
                <a href="{{.Permalink}}" class="inline-block w-max px-2 py-1 hover:bg-white dark:bg-black border-2 border-gray-400 hover:border-blue-600 dark:border-blue-500 border box-border rounded-2xl text-sm text-gray-500 hover:text-blue-600 dark:text-blue-500 strong {{ if $secondSectionBool }} bg-white text-blue-600 border-blue-600 font-semibold {{ end }}">{{ .Title }}</a>
                {{ range .Sections }}
                  <a href="{{.Permalink}}" class="inline-block w-max px-2 py-1 hover:bg-white dark:bg-black border-2 border-gray-400 hover:border-blue-600 dark:border-blue-500 border box-border rounded-2xl text-sm text-gray-500 hover:text-blue-600 dark:text-blue-500 strong {{ if and ( $secondSectionBool ) (in $currentURI (lower .Title)) }} bg-white text-blue-600 border-blue-600 font-semibold {{ end }}">{{ .Title }}</a>
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </section>
      {{ partial "app/item-list-sections.html" . }}
    </div>
  </div>
{{ end }}