{{ define "header" }}
  {{ partial "basic/header-logo.html" . }}
{{ end }}

{{ define "main" }}
  {{ partial "app/browse-breadcrumb.html" . }}
  
  <!-- IDENTITY STATEMENT AREA | Summary Sections -->
  <div class="px-5 bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 overflow-hidden sm:rounded-lg">
    <!-- <div class="px-5 py-5 sm:px-6"> -->
    <div class="flex flex-wrap -mb-4 md:mb-0">
      <div class="w-full 2xl:w-3/4 xl:w-3/4">
        <!-- Youtube / Vimeo -->
        {{ if .Params.link }}	
          <iframe class="rounded w-full h-96 aspect-w-4 aspect-h-3" src="{{ .Params.link }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          {{ .Params.shotlist }}
        {{ else }}
          <!-- item IMG / PDF / Youtube -->
          <div class="w-full">
            {{ if .Params.components }}{{ $settings := .Site.Params }}
              {{ range .Params.Components }}
              {{ $extension := index (last 1 (split  . "." )) 0 }}
                {{ if in site.Params.image_extension_whitelist $extension}}
                  {{ $src := partial "basic/cf-image.html" (dict "style" "full" "src" . "settings" $settings) }}
                  <img class="h-full rounded w-full object-cover object-center mb-6" src="{{ $src }}" alt="item object">
                {{ else }} 
                  <embed src="{{ . }}" width="100%;" height="800px;" alt="item object">
                {{ end }}
              {{ end }}
            {{ else }}
              <strong> 자료가 없습니다. </strong>
            {{ end }}
          </div>
        {{ end }}  
      </div>
      <div class="w-full 2xl:w-1/4 xl:w-1/4">
        <div class="pl-5">
          {{ $.Scratch.Set "eligibleKeys" (slice "title" "description" "events" "subjects" "creators" "venues" "tags") }}
          {{ range $.Scratch.Get "eligibleKeys"}}
            {{ $key := . }}	{{ $value := $.Param . }}
            {{ if $value }}
              {{ $.Scratch.Set "sliceKeys" (slice "subjects" "creators" "events" "venues" "tags") }}
              {{ $.Scratch.Set "emptySlice" (slice "")}}
              {{ $singleValue :=  not (in ($.Scratch.Get "sliceKeys") $key) }}
              {{ $multipleValueAndNotEmpty := and ( in ($.Scratch.Get "sliceKeys") $key ) ( ne ($.Scratch.Get "emptySlice") $value )}}
              {{ if or ( $singleValue ) ( $multipleValueAndNotEmpty )}}
                <div x-data="{ open: true }" class="border-b">
                  <div @click="open = !open" class="flex items-center justify-between py-4 text-gray-700 font-semibold">
                    <p>{{ i18n $key }}</p>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" :d="open ? 'M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' : 'M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z'" clip-rule="evenodd" />
                    </svg>
                  </div>
                  <div x-show.transition.in.duration.800ms="open" class="py-4">
                    {{ if in ($.Scratch.Get "sliceKeys") $key }}
                      {{ range $value }}
                        <a href="/{{$key}}/{{ . }}" class="inline-block w-max px-2 py-1 mb-2 bg-white dark:bg-black border-2 border-blue-600 dark:border-blue-500 border box-border rounded-2xl text-sm text-blue-600 dark:text-blue-500 strong">{{ . }}</a>
                      {{ end }}
                    {{ else}}
                      <p class="text-gray-500">{{ $value }}</p>
                    {{ end }}
                  </div>
                </div>
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
        <div class="pl-5 mt-5">
          {{ with index ( .Params.Components ) 0 }}
            <a href="" download="{{ . }}" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
              <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
              <span>다운로드</span>
            </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>

  <div class="p-5 mt-10">
    <h5 class="font-semibold text-lg">관련자료</h5>
    <div class="flex flex-wrap -mx-2 my-4">
      {{ $relatives := .Parent.RegularPagesRecursive | shuffle | first 12 }}
      {{ range $relatives}}
        {{ partial "app/item-card.html" .}}
      {{ end }}
    </div>
  </div>
{{ end }}
