<section class="text-gray-900 body-font">
  {{ if .RegularPagesRecursive }}
    {{ $paginator := .Paginate .RegularPagesRecursive }}
    <div class="flex flex-wrap -mx-2 my-4">
      <!-- {{ .TableOfContents }} -->
      {{ range $paginator.Pages }}
        {{ $path := .Path}}{{ $settings := .Site.Params }}
        {{ $singlePath := .Permalink }}{{ $singleTitle := .Title }}{{ $singleDate := .Params.date}}
        {{ if .Params.components }}
          {{ range .Params.components }}
            {{ partial "app/item-card.html" (dict "imagePath" . "cardLink" $singlePath "cardTitle" $singleTitle "cardSubtitle" $singleDate "settings" $settings )}}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
    <div class="paginator">
      {{ partial "app/pagination.html" $paginator }}
    </div>
  {{ else }}
    <div class="flex flex-wrap -mx-2 my-4">
      <div class="xl:w-1/3 md:w-1/2 p-4 h-screen text-gray-900 dark:text-gray-100">
        현재 포함된 자료가 없습니다. 
      </div>
    </div>
  {{ end }}
</section>
