<!-- https://www.tailwindcsscomponent.com/tailwind-css-with-alpine-js-photo-gallery -->
<div class="flex-shrink-0">
  <div x-data="photoGalleryApp" class="max-w-7xl flex flex-col">
    <div class="flex items-center ">
      <div :class="{'cursor-not-allowed opacity-50': ! hasPrevious()}"  class="hidden sm:block xs:block cursor-pointer">
        <svg version="1.0" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="currentColor" class="h-8" x-on:click="previousPhoto()">
          <path d="m42.166 55.31-24.332-25.31 24.332-25.31v50.62z" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.125"/>
        </svg>
      </div>
      <div class="w-full flex justify-center h-160 lg:h-96 md:h-80 sm:h-44">
        <img x-ref="mainImage" class="w-auto h-full" src="" loading="lazy"/>
      </div>
      <div :class="{'cursor-not-allowed opacity-50': ! hasNext()}"  class="hidden sm:block xs:block cursor-pointer">
        <svg version="1.0" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="currentColor" class="h-8" x-on:click="nextPhoto()">
          <path d="m17.834 55.31 24.332-25.31-24.332-25.31v50.62z" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.125"/>
        </svg>
      </div>
    </div>

    <div class="flex justify-center my-6 space-x-1 flex-wrap">
      {{ range $index, $imagePath := . }}
        <img src="{{ $imagePath }}" :class="{'ring-2 opacity-50': currentPhoto ==  {{ $index }} }" class="h-16 mb-1" x-on:click="pickPhoto({{ $index }})">
      {{ end }}
    </div>
  </div>
</div>

<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('photoGalleryApp', () => ({
      currentPhoto: 0,
      photos: {{ . }},
      init() { this.changePhoto(); },
      nextPhoto() {
        if ( this.hasNext() ) {
          this.currentPhoto++;
          this.changePhoto();
        }
      },
      previousPhoto() {
        if ( this.hasPrevious() ) {
          this.currentPhoto--;
          this.changePhoto();
        }
      },
      changePhoto() {
        this.$refs.mainImage.src = this.photos[this.currentPhoto];
      },
      pickPhoto(index) {
        this.currentPhoto = index;
        this.changePhoto();
      },
      hasPrevious() {
        return this.currentPhoto > 0;
      },
      hasNext() {
        return this.photos.length > (this.currentPhoto + 1);
      }
    }))
  })
</script>