<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">민주노총 사진아카이브 컬렉션</h1>
        <div class="h-1 w-20 bg-blue-600 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">민주노총 내부에서 생산된 사진에 태그를 통해서 각 사진들을 주제, 조직, 장소, 행사를 보여줍니다. 2020년, 2021년 사진들에 대한 태그를 먼저 구성했습니다. </p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <a href="/subjects">
          <div class="bg-gray-100 p-6 rounded-lg hover:bg-gray-200">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://kctu-photo.s3.ap-northeast-2.amazonaws.com/2020%eb%85%84/1%ec%9b%94/20200106_%eb%a7%88%ec%82%ac%ed%9a%8c+%ea%b3%a0+%eb%ac%b8%ec%a4%91%ec%9b%90+%ea%b8%b0%ec%88%98+%ec%a3%bd%ec%9d%8c%ec%9d%98+%ec%a7%84%ec%83%81%ea%b7%9c%eb%aa%85%ea%b3%bc+%ec%b1%85%ec%9e%84%ec%9e%90+%ec%b2%98%eb%b2%8c+%ec%9c%84%ed%95%9c+%ec%8b%9c%eb%af%bc%eb%8c%80%ec%b1%85%ec%9c%84%ec%9b%90%ed%9a%8c+%ec%b2%ad%ec%99%80%eb%8c%80+%ec%83%81%ec%97%ac+%ed%96%89%ec%a7%84/_CTU3676.jpg" alt="content">
            <h3 class="tracking-widest text-blue-600 text-xs font-medium title-font">subjects</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">주제별 컬렉션</h2>
            <!-- <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p> -->
          </div>
        </a>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <a href="/creators">
          <div class="bg-gray-100 p-6 rounded-lg hover:bg-gray-200">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://kctu-photo.s3.ap-northeast-2.amazonaws.com/2021%eb%85%84/1%ec%9b%94/20210122_%ea%b9%80%ec%a7%84%ec%88%99+%eb%b3%b4%eb%8f%84%ed%96%89%ec%a7%84+%ed%9d%ac%eb%a7%9d%eb%9a%9c%eb%b2%85%ec%9d%b4+20%ec%9d%bc%ec%b0%a8/_1DX7592.jpg" alt="content">
            <h3 class="tracking-widest text-blue-600 text-xs font-medium title-font">creators</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">조직별 컬렉션</h2>
            <!-- <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p> -->
          </div>
        </a>    
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <a href="/venues">
          <div class="bg-gray-100 p-6 rounded-lg hover:bg-gray-200">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://kctu-photo.s3.ap-northeast-2.amazonaws.com/2021%eb%85%84/2%ec%9b%94/20210219_%eb%b0%b1%ea%b8%b0%ec%99%84+%ec%84%a0%ec%83%9d+%eb%b0%9c%ec%9d%b8.%ec%98%81%ea%b2%b0%ec%8b%9d.%ed%95%98%ea%b4%80/%eb%b0%b1%ec%8a%b9%ed%98%b8/photo_2021-02-20+17.31.46.jpeg" alt="content">
            <h3 class="tracking-widest text-blue-600 text-xs font-medium title-font">venues</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">장소별 컬렉션</h2>
            <!-- <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p> -->
          </div>
        </a>  
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <a href="/events">
          <div class="bg-gray-100 p-6 rounded-lg hover:bg-gray-200">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://kctu-photo.s3.ap-northeast-2.amazonaws.com/2021%eb%85%84/2%ec%9b%94/20210219_%eb%b0%b1%ea%b8%b0%ec%99%84+%ec%84%a0%ec%83%9d+%eb%b0%9c%ec%9d%b8.%ec%98%81%ea%b2%b0%ec%8b%9d.%ed%95%98%ea%b4%80/%eb%b0%b1%ec%8a%b9%ed%98%b8/photo_2021-02-20+17.31.25.jpeg" alt="content">
            <h3 class="tracking-widest text-blue-600 text-xs font-medium title-font">events</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">행사별 컬렉션</h2>
            <!-- <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p> -->
          </div>
        </a>
      </div>
    </div>
  </div>
</section>