<section class="photo-of-the-day bg-gray-50">
  <div class="container mx-auto pt-14 pl-42 pr-42 pb-10">
    <div class="lg:w-1/2 w-full mb-6 lg:mb-0 p-8">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">오늘의 사진 </h1>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-1">
      <div class="col p-8">
        <h2 class="text-2xl pb-3">{{ .Title }}</h2>
        <p class="w-full leading-relaxed text-gray-900">{{ replace .Params.description "\n" "<br />" }}</p>
        <a class="block text-blue-600 my-3 hover:underline" href="{{ .RelPermalink }}">오늘의 사진 더 보기</a>
      </div>
      <div class="col">
        <img src="{{ index .Params.components 0 }}" alt="{{ .Title }}" />
      </div>
    </div>
  </div>
</section>
