{{ define "header" }}
  {{ partial "basic/header-logo.html" . }}
{{ end }}

{{ define "main" }}
  <div class="flex flex-wrap">
    <div class="w-1/4 md:w-full px-5 py-5 md:px-0 md:pb-0 bg-gray-100 dark:bg-gray-800">
      {{ partial "roll/browse/aside-default.html" . }}
    </div>
    <div class="w-3/4 md:w-full h-full pt-6 pb-10 bg-gray-100 dark:bg-gray-800">
      <div class="bg-white rounded-lg min-h-screen-2/3">
        <article class="max-w-4xl md:max-w-prose mx-auto px-5 py-10 font-sans">
          <h1 class="text-3xl md:text-xl mb-10">
            [{{ .Params.category }}]
            {{ .Title }}
          </h1>
          {{ if .Content }}
            <p class="text-lg md:text-sm">
              {{ .Content }}
            </p>
          {{ end }}
        </article>
      </div>
    </div>
  </div>
{{ end }}